/* Sign In */
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    color:ghostwhite;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
.button{
    box-shadow: 8px 8px 15px #bebebe,
    -8px -8px 15px #ffffff;
    border: none;
}



/* Sign Up */

    input[type=text]{
        outline: none;
    }
    input[type=text]:focus{
        border-color: #d8363a;
        box-shadow: 0px 1px 7px 1px #ed575a;
    }
    
    input[type=email]{
        outline: none;
    }
    input[type=email]:focus{
        border-color: #d8363a;
        box-shadow: 0px 1px 7px 1px #ed575a;
    }
    
    input[type=password]{
        outline: none;
    }
    input[type=password]:focus{
        border-color: #d8363a;
        box-shadow: 0px 1px 7px 1px #ed575a;
    }
    
    input[type=tel]{
        outline: none;
    }
    input[type=tel]:focus{
        border-color: #d8363a;
        box-shadow: 0px 1px 7px 1px #ed575a;
    }

    input[type=date]{
        outline: none;
    }
    input[type=date]:focus{
        border-color: #d8363a;
        box-shadow: 0px 1px 7px 1px #ed575a;
    }

/* sign-in */
       .sup-img-con{
        overflow: hidden !important;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px;
    }
    .sup-img-con .sup-img{
        position: absolute;
        width: 100%;
        filter: brightness(0.4);
        height: 100%;
    }

    .sup-img-2-con{
        position: relative !important;
        overflow: hidden !important;
    }


    .sup-img-2{
        position: absolute !important;
    }


/* Check Out */

.container {
    max-width: 960px;
  }
  
.lh-condensed { 
    line-height: 1.25; 
}

input[type=checkbox]{
    outline: none;
    accent-color: #ed575a;
}

input[type=radio]{
    outline: none;
    accent-color: #ed575a;
}

select{
    border-color: #bebebe;
}
select:focus{
    border-color: #d8363a;
}



/* -------------------------------- Blogs------------------------------------- */

    body{
        background-color: #f4f7f6;
        margin-top:20px;
    }
    .card {
        background: #fff;
        transition: .5s;
        border: 0;
        margin-bottom: 30px;
        border-radius: .55rem;
        position: relative;
        width: 100%;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    }
    .card .body {
        color: #444;
        padding: 20px;
        font-weight: 400;
    }
    .card .header {
        color: #444;
        padding: 20px;
        position: relative;
        box-shadow: none;
    }
    .single_post {
        -webkit-transition: all .4s ease;
        transition: all .4s ease
    }
    
    .single_post .body {
        padding: 30px
    }
    
    .single_post .img-post {
        position: relative;
        overflow: hidden;
        max-height: 500px;
        margin-bottom: 30px
    }
    
    .single_post .img-post>img {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -webkit-transition: -webkit-transform .4s ease, opacity .4s ease;
        transition: transform .4s ease, opacity .4s ease;
        max-width: 100%;
        filter: none;
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.01)
    }
    
    .single_post .img-post:hover img {
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
        -webkit-transition: all .8s ease-in-out;
    }
    
    .single_post .img-post:hover .social_share {
        display: block
    }
    
    .single_post .footer {
        padding: 0 30px 30px 30px
    }
    
    .single_post .footer .actions {
        display: inline-block
    }
    
    .single_post .footer .stats {
        cursor: default;
        list-style: none;
        padding: 0;
        display: inline-block;
        float: right;
        margin: 0;
        line-height: 35px
    }
    
    .single_post .footer .stats li {
        border-left: solid 1px rgba(160, 160, 160, 0.3);
        display: inline-block;
        font-weight: 400;
        letter-spacing: 0.25em;
        line-height: 1;
        margin: 0 0 0 2em;
        padding: 0 0 0 2em;
        text-transform: uppercase;
        font-size: 13px
    }
    
    .single_post .footer .stats li a {
        color: #777
    }
    
    .single_post .footer .stats li:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0
    }
    
    .single_post h3 {
        font-size: 20px;
        text-transform: uppercase
    }
    
    .single_post h3 a {
        color: #242424;
        text-decoration: none
    }
    
    .single_post p {
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        margin: 0
    }
    
    .single_post .blockquote p {
        margin-top: 0 !important
    }
    
    .single_post .meta {
        list-style: none;
        padding: 0;
        margin: 0
    }
    
    .single_post .meta li {
        display: inline-block;
        margin-right: 15px
    }
    
    .single_post .meta li a {
        font-style: italic;
        color: #959595;
        text-decoration: none;
        font-size: 12px
    }
    
    .single_post .meta li a i {
        margin-right: 6px;
        font-size: 12px
    }
    
    .single_post2 {
        overflow: hidden
    }
    
    .single_post2 .content {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 80px;
        position: relative
    }
    
    .single_post2 .content .actions_sidebar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 60px
    }
    
    .single_post2 .content .actions_sidebar a {
        display: inline-block;
        width: 100%;
        height: 60px;
        line-height: 60px;
        margin-right: 0;
        text-align: center;
        border-right: 1px solid #e4eaec
    }
    
    .single_post2 .content .title {
        font-weight: 100
    }
    
    .single_post2 .content .text {
        font-size: 15px
    }
    
    .right-box .categories-clouds li {
        display: inline-block;
        margin-bottom: 5px
    }
    
    .right-box .categories-clouds li a {
        display: block;
        border: 1px solid;
        padding: 6px 10px;
        border-radius: 3px
    }
    
  
    
    .comment-reply li {
        margin-bottom: 15px
    }
    
    .comment-reply li:last-child {
        margin-bottom: none
    }
    
    .comment-reply li h5 {
        font-size: 18px
    }
    
    .comment-reply li p {
        margin-bottom: 0px;
        font-size: 15px;
        color: #777
    }
    
    .comment-reply .list-inline li {
        display: inline-block;
        margin: 0;
        padding-right: 20px
    }
    
    .comment-reply .list-inline li a {
        font-size: 13px
    }
    
    @media (max-width: 640px) {
        .blog-page .left-box .single-comment-box>ul>li {
            padding: 25px 0
        }
        .blog-page .left-box .single-comment-box ul li .icon-box {
            display: inline-block
        }
        .blog-page .left-box .single-comment-box ul li .text-box {
            display: block;
            padding-left: 0;
            margin-top: 10px
        }
        .blog-page .single_post .footer .stats {
            float: none;
            margin-top: 10px
        }
        .blog-page .single_post .body,
        .blog-page .single_post .footer {
            padding: 30px
        }
    }
    
    textarea[type=text]{
        outline: none;
    }
    textarea[type=text]:focus{
        border-color: #d8363a;
        box-shadow: 0px 1px 7px 1px #ed575a;
    }
/* OTP */
    .success-message {
        /* display: none; */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        color: #4CAF50;
    }

    .success-message p {
        margin: 10px 0;
    }

/* Product Details */

.product-image {
    max-height: 400px;
    object-fit: cover;
}
.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}
.thumbnail:hover, .thumbnail.active {
    opacity: 1;
}

.button{
    background-color: white; 
    color: #62a32f; 
}

.button:hover{
    background-color: #61a12e;
    color: rgb(245, 245, 245);
}

.feature{
    list-style-type: none;
}

.feature:hover{
    color: #62a32f;
}

/* item page style */

.product-title {
    font-size: 24px;
    font-weight: bold;
}
.product-price {
    color: #ff0000;
    font-size: 20px;
}
.mrp-price {
    text-decoration: line-through;
    color: #888;
}
.product-description {
    margin-top: 20px;
}
.product-options button {
    margin-right: 10px;
}
.guarantee-section, .returns-section {
    margin-top: 20px;
}
.search-container {
    position: relative;
    width: 100%;
}
.search-container input[type="text"] {
    width: 100%;
    padding-left: 40px; /* Adjust padding to make space for the icon */
}
.search-container .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.cart-btn{
    background-color: #ff0000;
    border: none;
}
.cart-btn .cart{
    padding-right: 8px;
}
.order-btn .order{
    padding-right: 8px;
}
.small-product{
    height: 4rem;
    justify-content: space-around;
    padding-left: 2rem;
    animation: 1s linear 0s 1 normal transition;
}
.logo{
    padding-right: 2rem;
    width: 9rem;
}
.description{
    /* padding: 4rem; */
    animation: 1s linear 0s 1 normal rev-transition;
}

@keyframes transition {
    from {
      transform: translateX(-110vh);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
@keyframes rev-transition {
    from {
      transform: translateX(110vh);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

.main-img{
    animation: 1s linear 0s 1 normal transition;
}

@media (min-width: 991px){
    .small-product{
        height: 6rem;
    }
}
@media (max-width: 767px){
    .small-product{
        height: 6rem;
    }
}
.image{
    width: 14rem;
    margin: auto;
    padding: auto;
}
.image:hover{
    animation: zoom-in-zoom-out 1s ease 1;
}
  
  @keyframes zoom-in-zoom-out {
    0% {
      scale: 100%;
    }
    50% {
      scale: 97%;
    }
    100% {
      scale: 100%;
    }
  }
.image:hover {
    transition-timing-function: linear;
}
.card-body{
    margin: auto;
    padding: auto;
    text-align: center;
}
.discount-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;

}
.wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ff0000;
    font-size: 20px;
}
.wishlist:hover{
    transition-timing-function: linear;
    /* transition-duration: 0.5s; */
    transform: scale(1.3);
    /* color:#ff0000; */
}
.cart-icon{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #888;
    font-size: 20px;
}
.cart-icon:hover{
    transition-timing-function: linear;
    color: #ff0000;
}
.cart-product{
    font-size: small;
}
.shop-btn{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
li{
    list-style-type: none;
}
/* .row{
    text-overflow: hidden;
} */
