
.navbar-brand{
    padding: 3rem 11rem 1rem 0rem;
}
.navbar-brand img{
    width: 150px;
    margin-top: 0px;
}
.navdiv{
    height: 4.5rem;
    background-color:white;
}
.navbar{
    padding: 0;
}
.search{
    margin-right: 3rem;
}

.btn:hover{
    background-color: #3d7b27a0;
}

.footer{
    background-color: #123524;
}
.row{
    border-bottom: 1px solid white;
}

/* slider */
.back-g{
    position: relative !important;
    overflow: hidden !important;

}
.carousel-item{
    width: 100%;
    overflow: hidden;
    flex-wrap: nowrap;
}
.carousel-item .imgSlide{

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
}

    
    /* filter: brightness(0.3); */

.text{
    position: relative;
    z-index: 10;
    width: 40%;
    top: 60px;
    left: 100px;
    
}
.text h1{
    font-size: 4rem;
}


/* offer page style  */

.bg-daily-essentials {
    background-image: 
    linear-gradient( hsla(0, 3%, 12%, 0.068),50%,black),
    url('img/best_offers1.jpg');
    border: none;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    color: white;
    height: 250px;
    font-size: x-large;
}
.bg-get-up-to {
    background-image: 
    linear-gradient( hsla(0, 3%, 12%, 0.068),50%,black),
    url('img/best_offers2.jpg');
    border: none;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    color: white;
    height: 250px;
}
.bg-special-discount {
    background-image: 
    linear-gradient( hsla(0, 3%, 12%, 0.068),50%,black),
    url('img/best_offers3.jpg');
    border: none;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    color: white;
    height: 250px;
}
.bg-cashback {
    background-image: url('img/best_offers4.jpg');
    border: none;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    color: white;
    height: 150px;
}
.offers-badge{
    background-color: #ff512f;
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
}
.best-values-text{
    font-weight: bold;
}
.shop-now-btn{
    background-image: linear-gradient(to right, #ff522f9e, #dd24779e);
    color: #fff;
    font-weight: bold;
    width: 10rem;
}
.shop-now-btn:hover{
    background-image: linear-gradient(to right, #DD2476, #ff512f);
    transition: background-color 2s ease;
    transform: scale(1.03);
}

