/* Sign In */
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    color:ghostwhite;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
.button{
    box-shadow: 8px 8px 15px #bebebe,
    -8px -8px 15px #ffffff;
    border: none;
}



/* Sign Up */

    input[type=text]{
        outline: none;
    }
    input[type=text]:focus{
        border-color: #d8363a;
        box-shadow: 0px 1px 7px 1px #ed575a;
    }
    
    input[type=email]{
        outline: none;
    }
    input[type=email]:focus{
        border-color: #d8363a;
        box-shadow: 0px 1px 7px 1px #ed575a;
    }
    
    input[type=password]{
        outline: none;
    }
    input[type=password]:focus{
        border-color: #d8363a;
        box-shadow: 0px 1px 7px 1px #ed575a;
    }
    
    input[type=tel]{
        outline: none;
    }
    input[type=tel]:focus{
        border-color: #d8363a;
        box-shadow: 0px 1px 7px 1px #ed575a;
    }

    input[type=date]{
        outline: none;
    }
    input[type=date]:focus{
        border-color: #d8363a;
        box-shadow: 0px 1px 7px 1px #ed575a;
    }

/* sign-in */
       .sup-img-con{
        overflow: hidden !important;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px;
    }
    .sup-img-con .sup-img{
        position: absolute;
        width: 100%;
        filter: brightness(0.4);
    }

    .sup-img-2-con{
        position: relative !important;
        overflow: hidden !important;
    }


    .sup-img-2{
        position: absolute !important;
    }


/* Check Out */

.container {
    max-width: 960px;
  }
  
.lh-condensed { 
    line-height: 1.25; 
}

input[type=checkbox]{
    outline: none;
    accent-color: #ed575a;
}

input[type=radio]{
    outline: none;
    accent-color: #ed575a;
}

select{
    border-color: #bebebe;
}
select:focus{
    border-color: #d8363a;
}

/* Order Successfull */

@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .horizontal-timeline .items {
    border-top: 2px solid #ddd;
    }
    
    .horizontal-timeline .items .items-list {
    position: relative;
    margin-right: 0;
    }
    
    .horizontal-timeline .items .items-list:before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ddd;
    top: 0;
    margin-top: -5px;
    }
    
    .horizontal-timeline .items .items-list {
    padding-top: 15px;
    }

    