
.navbar-brand{
    padding: 3rem 11rem 1rem 0rem;
}
.navbar-brand img{
    width: 150px;
    margin-top: 0px;
}
.navdiv{
    height: 4.5rem;
    background-color:white;
}
.navbar{
    padding: 0;
}
.search{
    margin-right: 3rem;
}

.btn:hover{
    background-color: #3d7b27a0;
}

.footer{
    background-color: #123524;
}
.row{
    border-bottom: 1px solid white;
}

/* slider */
.back-g{
    position: relative !important;
    overflow: hidden !important;

}
.carousel-item{
    width: 100%;
    overflow: hidden;
    flex-wrap: nowrap;
}
.carousel-item .imgSlide{

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
}

    
    /* filter: brightness(0.3); */

.text{
    position: relative;
    z-index: 10;
    width: 40%;
    top: 60px;
    left: 100px;
    
}
.text h1{
    font-size: 4rem;
}

